// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container {
  max-width: 1170px;
  width: 100%;
}

//header

.navbar-nav a{
  padding-left: 15px;
  padding-right: 15px;
  color:#000;
}

.navbar-nav{
  padding-right: 15px;
}

.navbar-brand img{
  margin-top: 15px;
}

.search-form{
  font-size: 0.8em;
}

.btn-outline-success{
  font-size: 0.8em;
}



//footer

/* ボタン全体 */
.flowbtn10{
display:inline-block;
font-size:35px;
text-decoration:none;
transition:.5s;
color:#444;
}
/* インスタ・pocket・ラインだけ少し大きく */
.flowbtn10 .fa-instagram,.flowbtn10 .fa-get-pocket,.flowbtn10 .fa-get-pocket,.flowbtn10 .fa-line{
font-size:38px;
}
/* Twitterマウスホバー時 */
.flowbtn10 .fa-twitter:hover{
color:#55acee;
}
/* Instagramマウスホバー時 */
.flowbtn10 .fa-instagram:hover{
color:#c6529a;
}
/* Facebookマウスホバー時 */
.flowbtn10 .fa-facebook-f:hover{
color:#3b5998;
}
/* Feedlyマウスホバー時 */
.flowbtn10 .fa-rss:hover{
color:#6cc655;
}
/* Pocketマウスホバー時 */
.flowbtn10 .fa-get-pocket:hover{
color:#ef3f56;
}
/* はてブマウスホバー時 */
.flowbtn10 .fa-bold:hover{
color:#1ba5dc;
}
/* YouTubeマウスホバー時 */
.flowbtn10 .fa-youtube:hover{
color:#fc0d1c;
}
/* LINEマウスホバー時 */
.flowbtn10 .fa-line:hover{
color:#00c300;
}
/* メールアイコンマウスホバー時 */
.flowbtn10 .fa-envelope:hover{
color:#f3981d;
}
/* ulタグの内側余白を０にする */
ul.snsbtniti{
padding:0!important;
list-style-type:none!important;
text-align: center;
}
/* アイコン全体の位置 */
.snsbtniti{

}
/* アイコン同士の余白 */
.snsbtniti li{
display: inline-block;
text-align:center!important;
padding: 0 20px;

}


.footerfbbtn{
  padding: 0 8.475px;
}

.footer-share{
  margin-bottom: 10px;
}

.share-title p {
  font-size: 3rem;
  margin-bottom: -30px;
  text-align:center;


}



.footer-menu{

}


.footer-menu ul{
  list-style: none;
  display:block;
  padding-left: 0;
  float:left;
　position:relative;
　left:50%;
}

.footer-menu li{
  margin: 0 auto;
  position:relative;
  left:-50%;
}

.footer-menu a{
  color:#000;

}



.description{
  margin-top: 40px;
}

.description-title{
  font-weight: bold;
}



.footer-logo {
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 30px;
}
.footer-logo.footer-logoimg {
  vertical-align:middle;
  height:120px;
}

.copyright{
    font-size: 80%; /*フォントサイズの指定*/
    width: 100%;    /*横幅の指定*/
    text-align: center; /*文字の中央寄せ*/
    padding-top: 10px;  /*文字上部の余白指定*/
    padding-bottom: 10px;   /*文字下部の余白指定*/
}
footer address{
    font-style: normal; /*文字の斜体を取り消す*/
}
